<div class="addFormContainer">

<div  class="addForm">
<h4>Add College</h4>
<form>
    <div class="formControl">
        <label for="clgName">College Name</label>
        <input type="text" name="clgName" [(ngModel)]="clgName" />
    </div>
    <div class="formControl">
        <label for="location">Location</label>
        <input type="text" name="location" [(ngModel)]="clgLocation" />
    </div>
   <div class="formControl">
        <label for="phone">Phone</label>
        <input type="text" name="phone" [(ngModel)]="clgPhone" />
    </div>
    <div class="formControl">
        <label for="email">Email</label>
        <input type="text" name="email" [(ngModel)]="clgEmail" />
    </div>
    <div class="formControl">
        <label for="cources">Cources</label>
        <input type="text" name="cources" [(ngModel)]="clgCources" />
    </div>
    <button type="submit" (click)="addCollege()" class="submitBtn">Add</button>
</form>
</div>
</div>