<div class="addFormContainer">

<div  class="addForm">
<h4>Add College</h4>
<form action="">
    <div class="formControl">
        <label for="name">College Name</label>
        <input type="text" />
    </div>
    <div class="formControl">
        <label for="name">Location</label>
        <input type="text" />
    </div>
   <div class="formControl">
        <label for="name">Phone</label>
        <input type="text" />
    </div>
    <div class="formControl">
        <label for="name">Email</label>
        <input type="text" />
    </div>
    <div class="formControl">
        <label for="name">Cources</label>
        <input type="text" />
    </div>
    <button type="submit" class="submitBtn">Add</button>
</form>
</div>
</div>