/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.mainContent {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
}
.primaryBtn {   
    background: green;
    color: #fff;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}